# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      # run tests!
      - run: mvn integration-test
  test:
    docker:
      - image: circleci/openjdk:8-jdk
        environment:
          VAULT_ADDR: http://82.64.24.225:8200/v1
    steps:
      - checkout
      - run:
          name: Login to Vault and register token 
          command: |
              echo 'export VAULT_TOKEN=\"$(curl -v -d \"\'\"{ \"project\":\"$CIRCLE_PROJECT_REPONAME\", \"vcs_revision\":\"$CIRCLE_SHA1\",\"build_num\": \"$CIRCLE_BUILD_NUM\"}\"\'\" "http://82.64.24.225:8200/v1/auth/circleci-auth-plugin/login" | jq -r '.auth.client_token')\"' >> $BASH_ENV
              cat $BASH_ENV  
              echo $VAULT_TOKEN     
      - run:
          name: Show the token
          command: echo $VAULT_TOKEN
      - run:
          name: Read the secret from Vault
          command: "curl -H \"X-Vault-Token: ${VAULT_TOKEN}\" \"${VAULT_ADDR}/kv/circleci\""
              

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
          filters:
            branches:
              only: master

